article.card.card--big
	a(href="#").card__img
		+img('img/content/1','780','330','alt','data:image/gif;base64,R0lGODlhGgALAIAAAP///wAAACH5BAEAAAEALAAAAAAaAAsAAAIPjI+py+0Po5y02ouz3q4AADs=')
		.date.card__date.card__date--br.card__date--big
			.card__date-number 7
			.card__date-text мин
	.card__body
		a(href="#").tag.card__tag #Экспертное_мнение
		a(href="#").card__link
			h2.h2-xl.card__title Улучшена загрузка файлов в сервис через браузер
		.card__text
			p Это наш первый урок, на котором мы расскажем об основных инструментах сервиса, с чего начать работу и как создать первый пост.
		.author.card__author
			span.author__date 3 месяца назад
			span.author__name Галкин Жека